.navbar-logo {
    width: 90px;
}

.modal-header {
    border-bottom: none;
}

.modal-header > button > span {
    font-size: 35px;
}

.modal-body {
    padding-top: 0px;
    padding-left: 40px;
    font-size: 0.9rem;
}

.modal-content {
    border-radius: 15px;
}

.modal-footer {
    border-top: none;
}

#menuModal .modal-body ul > li.nav-item {
    text-transform: uppercase;
}